body {
  font-family: "Arial", sans-serif;
  background-color: #121212;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  background-color: #222222;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

h2 {
  text-align: center;
  color: #1DB954;
}

.playlist-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.playlist-buttons button {
  margin: 5px;
  padding: 10px;
  background-color: #333333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.playlist-buttons button:hover,
.playlist-buttons button.active {
  background-color: #1DB954;
}

.song-list {
  list-style-type: none;
  padding: 0;
}

.song-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #282828;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s;
  cursor: pointer;
}

.song-item.active {
  background-color: #1DB954;
}

.song-item button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #343a40;
  text-align: "center";
  color: "white";
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-bar .song-name {
  flex-grow: 1;
  text-align: center;
  font-size: 16px;
}


.bottom-bar button {
  margin: 5px;
  padding: 10px; 
  background-color: #1DB954;
  border: none; 
  border-radius: 5px; 
  cursor: pointer
}

.controls {
  display: flex;
  gap: 10px;
}

.controls button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.controls button:hover {
  color: #1DB954;
}
